
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "indexdesignforAdmin" }))
{
    <fieldset>
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <br/>
                <br/>
                <center>
                    <img src="/Image/ustc-0.png" width="300"/>
                    <p style="font-size: 70px">University Of Science & Technology Chittagong</p>
                    <p style="font-size: 50px">Faculty of Science & Engineering Technology(FSET)</p>
                    <p>Welcome on the Result Management App </p>
                    <button type="button" class="btn btn-outline-secondary btn_page"><a href="/Admin/AddingNewStudent">Add New Student</a></button>
                    <button type="button" class="btn btn-outline-secondary btn_page"><a href="/Admin/AddingNewTeacher">Add New Teacher</a></button>
                    <br/>
                    <br/>
                </center>
            </div>
        </div>
        </fieldset>
}
